body{background-color:rgb(20, 203, 244); margin-left: 10%; margin-right: 10%;}
.link-button{background-color: aqua; color:rgb(68, 39, 3); text-decoration: none;
    padding: 3px 14px; border-radius: 10px; margin-right: 5%;
    line-height: 30px;}
.link-button:hover{background-color: rgb(0, 8, 255);color:white;}
.text-on-background{color:rgb(68, 39, 3); line-height: 30px;}
.heading-color{color:rgb(68, 39, 3)}
.h3-size{font-size: 18.72px;}
@media only screen and (min-width: 0px) and (max-width: 400px) {
    .hide-for-not-small{display: inline;}
  }
@media screen and (min-width: 401px)  {
    .hide-for-not-small{ display: none; }
}
@media (prefers-color-scheme: light) {
    .link-button{background-color: aqua; color:rgb(68, 39, 3);}
    .heading-color{color:rgb(48, 27, 2)}
    .text-on-background{color:rgb(68, 39, 3);}
    .text-on-background{color:rgb(68, 39, 3);}
    .heading-color{color:rgb(68, 39, 3)}
}
@media (prefers-color-scheme: dark) {
    body{background-color:rgb(15, 0, 116)}
    .link-button{background-color: rgb(0, 8, 255);color:white;}
    .link-button:hover{background-color: aqua;color:rgb(68, 39, 3);}
    .heading-color{color:white}
    .text-on-background{color:white}
}
/*aqua;color:rgb(68, 39, 3);
  rgb(0, 166, 255);color:white*/